body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: rgba(86, 32, 50, 0.603);
  font-family: Courier, monospace;
  color: azure;
  header {
    height: 10vh;
    h1 {
      text-align: center;
      font-size: 35px;
    }
  }
  main {
    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-bottom: 30px;
      img {
        width: 500px;
      }
      .button {
        width: 500px;
        display: flex;
        justify-content: space-between;
        button {
          width: 140px;
          height: 35px;
          border-radius: 10px;
          background-color: rgba(139, 52, 81, 0.603);
          color: azure;
          font-size: 15px;
          cursor: pointer;
        }
      }
    }
    .container__cost {
      border: 2px solid rgba(86, 32, 50, 0.603);
      margin: 30px auto;
      width: 500px;
      height: 200px;
      text-align: center;
      button {
        margin: 30px auto;
        width: 180px;
        height: 40px;
        border-radius: 10px;
        background-color: rgba(139, 52, 81, 0.603);
        color: azure;
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
}
