* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 20px 8vw;
  font-family: "Courier New", Courier, monospace;
  background-color: darkslategray;
  color: aquamarine;
  header {
    h1 {
      font-size: 40px;
    }
  }
  main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    .add-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
    .chat {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}
